@import url("https://fonts.googleapis.com/css2?family=outfit:wght@200;300;400;500&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
  text-decoration: none;
}

.back-to-top {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
}

.hidden {
    display: none;
}

.back-to-top-icon {
    width: 1rem;
    height: 1rem;
    color: black;
}
.back-to-top {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    border-radius: 100%;
    background: white;
    padding: 0.5rem;
    border: none;
    cursor: pointer;
}
.back-to-top:hover {
    opacity: 60%;
}
.progress-bar {
    height: 1rem;
    background: white;
    position: fixed;
    top: 0;
    left: 0;
}



.navbar-container{
    display: flex;
    justify-content: space-around;
    padding:10px;
}

.landingPage {
    background-color: rgb(236,193,28);
    height: auto;       
}   

.landingPage .main{
    display: flex;
    align-items: center;
    justify-content: center;
}

.landingPage .main .landingPage__content{
    line-height: 70px;
    text-align: center;

}
.landingPage__content{
    margin-bottom: 50px;
}

.landingPage .main .landingPage__content button{
    padding:20px;
    font-weight: bolder;
    color:white;
    background-color: black;
    border: none;
    cursor: pointer;
    font-size: 20px;
}


/* MODAL DESIGN */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
/* The Close Button */
.close {
    color: #770707;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}  

.modal-content h3{
    text-align: center;
}

.modal-content .modal-result{
    margin-top: 10px;
    background-color: rgb(241, 211, 154); 
    padding: 10px;
    line-height: 25px;
    text-align: center;
}

.modal-result button{
    background-color: white;
    padding: 10px;
}




/* QUIZ PAGE */

.quiz-page{
    background-color: orange;
    color: white;
    margin: 0 auto;
}

.quiz-main{
    margin: 0 auto;
    /* background-color: red; */
    width: 40%;
}

.quiz-main .questions{
    padding: 20px 0;
}

.quiz-page h2{
    text-align: center;
    padding: 30px;
}

.quiz-questions{
    display: flex;
    text-align: center;
    padding: 10px 0;
}

.quiz-questions p{
    font-size: large;
    font-weight: 600;
}
.question-order{
    color:red;
    font-weight: bold;
}

#submit{
    padding: 10px;
    text-align: center;
    background-color: white;
    width: 100%;
    margin: 10px 0;
    border-radius: 10px;
}





.button_wrapper{
    /* display: flex; */
    color: color;
    /* justify-content: space-around; */
    align-items: center;
}

.button_wrapper input{
    padding-left: 5px;
}

.button_container{
    padding: 15px;
    width: 100%;
    background-color: black;
    margin:10px 0
}

.button_container:hover{
    background-color: white;
    color:black
}

.blogpost{
    background-color: white;
    padding:10px;
    margin:10px;
    border-radius: 20px;
    width: 90%;
    line-height: 25px;
    font-size: 20px;
    overflow: scroll;
    height: 300px;
}

.blogpost h3{
    text-align: center;
    padding: 10px;
}

.blogpost a{
    background-color: rgb(158,53,57);
    padding: 2px;
    border-radius: 3px;
}

footer{
    text-align: center;
    padding:10px
}

/* .active, .button_container:hover {
    background-color: white;
    color: black;
  } */


  /* media query */

@media screen and (max-width: 768px) {

    .landingPage {
        height: auto;
    } 

    .landingPage .main{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .quiz-main{
        width: 80%;
    }

    
    
} 

@media screen and (max-width: 425px) {
    
    .navbar-container{
        display: block;
        text-align: center;
        justify-content: space-around;
        padding:10px;
    }

    .landingPage {
        height: auto;
    }  
    
    .landingPage .main{
        flex-direction: column;
        align-items: center;
        width: 100%;

    }
    .landingPage__content {
        font-size: 80%;
    }
    
    .landingPage .main .landingPage__content button{
        padding:15px;
        font-size: 20px;
    }

    .blogpost{
        padding:10px;
        margin:10px;
        border-radius: 20px;
        width: 90%;
        line-height: 25px;
        font-size: 15px;
        overflow: scroll;
        height: 300px;
    }
    
    .blogpost h3{
        text-align: center;
        padding: 10px;
    }

    .quiz-main{
        width: 80%;
    }

    .quiz-questions p{
        font-size: 12px;
        font-weight: 600;
    }


    
} 


